nav.navbar {
	padding-bottom: 150px;
}

.container #consulta {
	margin-top: -150px;
}

#consulta {
	color: white;
	font-weight: 300;
}

.div-col-footer {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 0;
}

.div-col-footer a {
	text-decoration: none;
	color: white;
}

.div-col-footer a:hover {
	border-bottom: 2px solid white;
	transition: .5s;
}

div.container div.margin0 {
	margin: 0 !important;
}